#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-size: 2vw;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: clamp(24px, 4vw, 48px);
  color: white;
}

@media (min-width: 910px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
    color: white;
  }
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
